
<h1>Edit Shop</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', shops_path %>

<style>

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif
}
a:link, a:visited {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: inline-block
}

a:hover, a:active {
  background-color: gray;
}