
<style>

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: serif
}
a:link, a:visited {
  position: absolute;
  left: 47%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: inline-block
}

a:hover, a:active {
  background-color: gray;
}


</style>
<h1>Welcome to Shop App</h1>
<%= link_to 'All Shops', controller: 'shops' %>
