
<p>
  <strong>Product Name:</strong>
  <%= product.product_name %>
</p>
 
<p>
  <strong>Detail:</strong>
  <%= product.detail %>
</p>

<p>
  <strong>Price:</strong>
  <%= product.price %>
</p>

<p>
  <%= link_to 'Destroy Product', [product.shop, product],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>